/* Global Styling */
html, body {margin:0px; padding: 0px;}

body {
    margin: 0;
    font-family:  'Open Sans', sans-serif;
    background: white;
    
    }
    
    .header {
    text-align: center;
    padding: 32px;
    
    }
    
    .header > h1 {
    
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 0.5em;
    background-color: #000a;
    color: #fff;
    padding: 0.3em 0.6em;
    border: 1px solid #fffa;
    }
    
    .header > p {
    color: white;
    
    }

nav {
    background-color: #34495e;
    height: 80px;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 999;
}

#logo {height: 80px; margin-left: 20px;}

.wrapper {
    padding: 50px 50px;
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.right {float: right !important;}
/* Image zoom on hover + Overlay colour */
.parent {
    width: 45%;
    margin: 20px;
    height: 45%;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* Several different images */
.bg-one {background-image: url(./images/3dprinting5.jpg);}
.bg-two {background-image: url(./images/volante-2.png);}
.bg-three {background-image: url(./images/mac_mini-3.png);}
.bg-four {background-image: url(./images/3dprinting6.jpg);}
.bg-five {background-image: url(./images/3dprinting8.jpg);}
.bg-six {background-image: url(./images/3dprinting9.jpg);}


a {
    display: none;
    font-size: 35px;
    color: #ffffff ;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    /*text-decoration: none;*/
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

/* Media Queries */
@media screen and (max-width: 960px) {
    .parent {width: 100%; margin: 20px 0px}
    .wrapper {padding: 20px 20px;}
}


.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #332f2f;
    cursor: pointer;
    font-size: 18px;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

.hello {display: none}


footer {
	margin-top: 1em;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;


}


footer > h2 {
  display: inline-block;
  font-size: 0.8em;
  font-weight: lighter;
  color: #424543;
  

}