    body {
    margin: 0;
    font-family:  'Open Sans', sans-serif;
    background: white;
    
    }


    .header {
    text-align: center;
    padding: 32px;
    
    }
    
    .header > h1 {
    
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 0.5em;
    background-color: #000a;
    color: #fff;
    padding: 0.3em 0.6em;
    border: 1px solid #fffa;
    }
    
    .header > p {
    color: white;
    
    }

    /* Style the buttons */
    .btn {
        border: none;
        outline: none;
        padding: 10px 16px;
        background-color: #f1f1f1;
        cursor: pointer;
        font-size: 18px;
        }
        
        .btn:hover {
        background-color: #ddd;
        }
        
        .btn.active {
        background-color: #666;
        color: white;
        }
    

    label {
            font-size: 1em;
            font-weight: bold;
            color: #000a;
            padding: 2em;
        }
        
        h3 {
            font-size: 2em;
            font-weight: bold;
            color: #000a;
        }

        .paragraph {
            text-align: left;
        }
        
        p {
            font-size: 1em;
        }
    
    input {
        padding: 1em;
    }

    footer {
            margin-top: 15em;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        
        
        }
        
        
        footer > h2 {
        display: inline-block;
        font-size: 0.8em;
        font-weight: lighter;
        color: #424543;
        
        
        }